@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.main_calculator {
  width: 100%;
  padding: 50px;
}
.calculator_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input_fields input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: goldenrod;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}
.buttons_div button {
  cursor: pointer;
  padding: 8px 20px;
  border: 1px solid goldenrod;
  outline: none;
  transition: all linear 0.3s;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.buttons_div button:hover {
  background-color: goldenrod;
  color: #fff;
}
.output {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: salmon;
  font-family: "Open Sans", sans-serif;
}
